* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* acomodar mejor el header y poner mejores colores (✅)*/
.titulo {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(226, 211, 3);
    font-size: 40px;
  }
  


body {
background-color: rgb(41, 38, 38);
}

.start_button{
border-radius: 5px;
font-weight: bold;
cursor: pointer;
font-size: 0.9rem;
height: max-content;
width: auto;
background-color: rgb(10, 88, 0);
padding: 5px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border: none;
}

.stop_button{
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
    height: max-content;
    width: auto;
    background-color: rgb(141, 25, 10);
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    }

    .pause_button{
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        font-size: 0.9rem;
        height: max-content;
        width: auto;
        background-color: rgb(6, 9, 175);
        padding: 5px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: none;
    }

.formulario {
font-size: larger;
width: 80px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
background-color:rgba(34, 136, 196, 0.534);

}

.container_header{
    padding-bottom: 5px;
margin: 0px 20px 20px 20px;
}    

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: grey;
}

.cell.alive {
    background-color: rgb(204, 129, 15);
}

.grid_section {
    justify-content: center;
}

.container_button{
align-content: center;
}