

#header-container{
    display: flex;
    justify-content: center;
    background-color: #004eb4;
};

#titulo{
    display: flex;
    justify-content: center;
    color: white;
};

#grid-cont{
    display: grid;
    gap: 0;
    width: max-content;
};

.cell{
    background-color: #8b8b8b
};
